.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter_container {
  display: flex;
  align-items: center;

  @media (max-width: 800px) {
    label {
      display: none;
    }

    input {
      width: 150px;
    }
  }
}
