@import '../../../styles/colors.scss';

.table {
  width: 95%;
  border-spacing: 0;
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
  line-height: 1.5;

  colgroup {
    .col_one {
      width: 3rem;
    }

    .col_two {
      width: 10rem;
    }
  }

  tbody {
    tr {
      width: 100%;
      border-top: 1px solid $white-text;

      &:first-child {
        border-top: none;
      }

      td {
        overflow: hidden;
        height: 2.8rem;
        color: $black-02;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0.2rem 0.8rem;
        text-align: left;
        box-sizing: content-box;

        label {
          text-transform: capitalize;
        }

        .thumbnailContainer {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;

          & > * {
            margin-right: 0.3rem;
          }
        }
      }
    }
  }
}
