@import '../../../styles/colors.scss';

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 0.5rem;
}

.btn__icon {
  @extend .btn;
  padding: 0 6px;
}

.primary {
  background-color: $blue-01;
}

.secondary {
  background-color: $grey-03;
}
