@import '../../../styles/colors.scss';

input[type='search'],
input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  min-width: 20rem;
  max-width: 20rem;
  height: 2.5rem;
}

textarea {
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.select_container {
  display: flex;
  width: 100%;
  align-items: center;

  &.select_container:first-child {
    margin-right: 1rem;
  }

  .label {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-right: 1rem;
  }

  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    border-bottom-color: $blue-01;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: $black-02;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 0.2rem;
    min-width: 3rem;
  }
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  // font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input[type='text']:focus,
input[type='search']:focus,
textarea:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
